/* main.scss */

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$gray: #797979;

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-borer-radius: $radius;
	border-radius: $radius;
}

body{
	background: #ddd;
}

.feed-items-container{
	ul{
		padding: 0;
	}
}

.feed-item{
	list-style: none;
	width: 356px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.6);
	background-color: #fff;
	@include border-radius(2px);
	cursor: pointer;

	.thumb, .content{
		float: left;
		/*display: inline-block;*/
	}

	.thumb{
		width: 100px;
		margin-right: 5px;
	}

	.content{
		width: 240px;

		.title, .timeago{
			padding-top: 7px;
		}

		a:hover, a:active{
			text-decoration: none;
		}

		a > .title{
			font-weight: 600;
			color: #202020
		}

		.timeago{
			color: $gray;
		}
	}
}

.page-title{
	h1{
		b{
			color: red;
		}

		span{
			color: #fff;
		}
	}
}

.view{
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.6);
	background-color: #fff;
	@include border-radius(2px);
	max-width: 480px;

	.default-msg{
		font-size: 20px;
		padding: 10px;
	}
}

.active-item{

	.thumbnail-container{
		position: relative;

		img{
			max-width: 100%;
			@include border-radius(2px 2px 0 0);
		}

		.h-title{
			position: absolute;
			z-index: 1;
			font-size: 24px;
			padding: 10px 15px;
			color: #fff;
		}

		.play{
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 0 0 15px;
			font-size: 36px;
			color: #fff;
			visibility: hidden;
			cursor: pointer;
			z-index: 1;

			a{
				color: red;
			}
		}

		&:hover .play{
			visibility: visible;
		}


	}

	.descrip-meta-container{
		background-color: #fff;
		padding: 0 10px 10px;
		@include border-radius(0 0 2px 2px);

		.descrip{
			padding: 10px 0;

			.tip{
				color: red;
				cursor: pointer;
			}
		}

		.meta{

		}
	}

	.meta{
		.left{
			float: left;
		}
		.right{
			float: right;
		}
	}
}

.by-me{
	margin-bottom: 50px;
}

@media (min-width: 865px){
	.full-view{
		position: fixed;
		top: 70px;
		bottom: 50px;
		right: 50px;
		@include border-radius(2px);
	}
}