/* main.scss */

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$gray: #797979;

.feed-items-container{
	ul{
		padding: 0;

		li{
			list-style: none;
			width: 356px;
			margin-bottom: 10px;
			box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.6);
		}
	}
}

.feed-item{
	border: thin solid red;

	.thumb, .content{
		float: left;
		/*display: inline-block;*/
	}

	.thumb{
		width: 100px;
		margin-right: 5px;
	}

	.content{
		border: thin solid blue;
		width: 240px;

		.title, .timeago{
			padding-top: 7px;
		}

		.title{
			font-weight: 600;
		}

		.timeago{
			color: $gray;
		}
	}
}